.site-content {
	@extend %clear-header;
	//background-color: $color-white;
}

[class*='container-'] {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container-site {
	max-width: (1400 / 16) * 1em
}

.container-med {
	max-width: (1000 / 16) * 1em
}

.container-small {
	max-width: (720 / 16) * 1em
}

// sticky footer
.site-content {
	min-height: 100%;
	margin-bottom: - $footer-height;

	&::after {
		content: '';
		display: block;
		height: $footer-height;
	}

    @media (min-width: $bp-nav) {
        margin-bottom: - $footer-height-2;

        &::after {
            height: $footer-height-2;
        }
    }
}

.site-footer {
    height: $footer-height;

    @media (min-width: $bp-nav) {
        height: $footer-height-2;
    }
}

%pad {
    padding: 4em 1em;

    @media (min-width: $bp-small) {
        padding: 8em 1em 6em;
    }
}


// cta
.cta-block {
    position: relative;
    display: flex;
    width: 100%;
    height: $cta-height;
    padding: 1em;
    background-color: transparent;
    transform: translateY(- ($cta-height / 2));
    z-index: 1;

    .button {
        display: block;
        margin: auto;
    }

    // &.full {
    //     margin: 0 auto;
    //     padding: 1.5em 1em;
    //     background-color: $color-blue-alt;
    //     transform: translateY(0);
    //
    //     @media (min-width: $bp-big) {
    //         width: calc(100% - 2em);
    //         padding: 2em 1em;
    //         border-radius: 4px;
    //         transform: translateY(-50%);
    //     }
    //
    //     .button {
    //         background-color: $color-white;
    //         border-color: $color-blue;
    //         color: $color-green;
    //     }
    // }
}




.gform_fields {
	@extend %flex-parent-row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gfield:not(.flex-field) {
	width: 100%;
}

.flex-field {
	width: calc(50% - 1em);
}

.gfield_description,
.validation_message {
	padding: 0.25em 0 0.75em;
	font-size: 70%;
	color: $color-red;
	line-height: 1;
}

.validation_error {
	padding: 0.75em 0;
	color: $color-red;
}

.gform_confirmation_message {
	@extend %copy-1;
	color: $color-red;
}

.gform_confirmation_message {
	padding-top: 3em;
}

.gfield {
	margin-bottom: 1em;
}


// media
img {
	max-width: 100%;
	height: auto;
	border-width: 0;
	border-color: transparent;

	&.alignleft {
		float: left;
		margin: 0.5em 2em 2em 0;
	}

	&.alignright {
		float: right;
		margin: 0.5em 0 2em 2em;

        @media (min-width: $bp-small) {
            width: 40%;
        }
	}

	&.aligncenter {
		float: none;
		margin: 2em auto;
	}
}


.text-link {
    @extend %fs-22;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-black;
    letter-spacing: (4 / 18) * 1em;
    z-index: 1;

    &::after {
        content: '';
        display: block;
        width: calc(100% + 2px);
        height: 0.25em;
        position: absolute;
        bottom: 2px;
        left: -1px;
        z-index: -1;
        background-color: $color-green;
        transform: scaleX(1);
        transform-origin: center bottom;
        transition: transform 0.25s linear;
    }

    &:hover {
        &::after {
            transform: scaleY(4);
        }
    }

    // inline link
    &.inherit {
        margin-left: 0.25em;
        font-weight: inherit;
        font-size: inherit;
        text-transform: inherit;
        color: inherit;
        letter-spacing: inherit;
    }
}



// animations

// .fade-up {
// 	opacity: 0;
// 	transform: translateY(24px);
// 	//transition: 0.3s transform $ease-out-quad, 0.4s opacity $ease-out-quad;
// 	transition: 0.6s transform ease, 0.6s opacity ease;
//
// 	&.animate {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }
//
//
// .fade {
// 	opacity: 0;
// 	transition: 0.6s transform ease, 0.6s opacity ease;
//
// 	&.animate {
// 		opacity: 1;
// 	}
// }
//
// .line-in {
// 	&::after {
// 		transform: scaleX(0);
// 		transform-origin: left center;
// 		transition: 0.4s transform $ease-out-quad;
// 	}
//
// 	&.animate {
// 		&::after {
// 			transform: scaleX(1);
// 		}
// 	}
// }
