%button {
    @extend %fs-20;
	display: inline-block;
	width: auto;
	padding: 1em 2.5em;
	border: 1px solid $color-blue-alt;
	border-radius: 2px;
	font-weight: 600;
	line-height: 1;
	color: $color-white;
	letter-spacing: 1px;
	text-align: center;
	background-color: $color-blue-alt;
	cursor: pointer;
	text-decoration: none;
    text-transform: uppercase;
    letter-spacing: (3 / 18) * 1em;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
	transition: background-color 0.3s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;

	&:hover {
		color: $color-green;
        border-color: $color-blue;
		background-color: darken($color-blue-alt, 5%);
	}

	&:focus {
		outline: 0;
	}

	// &:active {
	// 	//background-color: $color-orange-pressed;
	// }

	// &[disabled],
	// &.disabled {
	// 	//background-color: $color-orange-disabled;
	// }
}

.button,
button:not(.no-button-style) { //sass-lint:disable-line force-pseudo-nesting
	@extend %button;
}


.no-button-style {
	border-width: 0;
	padding: 0;
	background-color: transparent;

	&:focus {
		outline: 0;
	}
}
