.fixed-bg-block {
    display: flex;
    height: (100 / 16) * 1em;
    max-height: 30vw;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        display: block;
        position: fixed;
        top: $header-height;
        left: 0;
        width: 100%;
        height: calc(100% - 4em);
        z-index: -1;
    }

    &::before {
        background: transparent url(../img/wj-molding-200-ton-all-electric.jpg);
        background: transparent url(../img/wj-molding-machines.jpg);
        background-attachment: fixed;
        background-size: cover;
        filter: blur(0.5px);
    }

    &::after {
        background-color: $color-white;
        opacity: 0.15;
    }

    .button {
        margin: auto;
    }


    @media (min-width: $bp-big) {
        height: 10em;
    }
}
