.site-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    border-top: 1px solid $color-gray-light;
    background-color: white;
    text-align: right;

    .footer-content {
        position: relative;
        margin: auto 0;
        z-index: 2;
    }

    p,
    li {
        @extend %fs-14;
        margin-bottom: 0;
        line-height: 1.75;
    }
}
