// sass-lint:disable force-pseudo-nesting

$scale: 0.8;
$counter-scale: 1 / $scale;

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: $header-height;
    padding: 0 1em 0.5em;
    z-index: 2;
    background-color: $color-blue;
    box-shadow: 0 1px 8px 2px rgba($color-black, 0.25);

    .container-site {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        height: 100%;
    }

    // &.scrolled {
    //     box-shadow: 0 1px 7px 0 rgba(170, 170, 170, 0.25);
    // }
    //
    // .container-site {
    //     @extend %flex-parent-row;
    //     align-items: center;
    //     height: 100%;
    // }
    //
    // .freeze & {
    //     background-color: rgba($color-white, 0.985);
    // }
}

.logo {
    display: block;
    width: (160 / 16) * 1em;

    svg {
        display: block;
        width: 100%;
        height: 100%;

        g {
            fill: $color-white;
        }
    }
}

.logo-container {
    span {
        @extend %visually-hidden;
    }
}


.skip-link {
  @extend %visually-hidden;
}

.menu-toggle {
    position: absolute;
    top: 50%;
    right: 1em;
    padding: 0;
    border: 0;
    font-size: 1em;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    outline: -webkit-focus-ring-color 0; //sass-lint:disable-line no-vendor-prefixes
    transform: translateY(-50%);
    transition: color 0.3s ease-out, border 0.3s ease-out;

    svg {
        display: block;
        width: 2em;
        height: 2em;
        fill: $color-white;
    }

	&.toggled {
		color: $color-black;
		border-color: $color-gray;
	}

    span {
        @extend %visually-hidden;
    }
}


.site-nav {
	position: absolute;
    top: $header-height;
    right: 0;
    width: 100%;
    height: calc(100vh - 4em);
    z-index: 1;
    background-color: $color-blue;
    transform: translateX(100%);
    transform-origin: right center;
    transition: transform, 0.3s linear;

	&.show {
        transform: translateX(0);
	}
}

.menu {
	display: flex;
    flex-flow: column nowrap;
	padding: 2em 1em 0.5em;
	text-align: center;
}

.menu-item {
    position: relative;
	margin-bottom: 1.5em;
    opacity: 0;
	list-style: none;
    text-align: right;
    transform: translateX(100%);
    transition: transform 0.25s linear, opacity 0.15s ease-out;

    &:first-of-type {
        transition-delay: 0.2s;
    }

    &:nth-of-type(2) {
        transition-delay: 0.3s;
    }

    &:nth-of-type(3) {
        transition-delay: 0.4s;
    }

    &:nth-of-type(4) {
        transition-delay: 0.5s;
    }

    &:nth-of-type(5) {
        transition-delay: 0.6s;
    }

    .show & {
        opacity: 1;
        transform: translateX(0);
    }

	a {
        display: block;
		padding: 0.5em 0.25em;
        font-size: 1.875em;
        font-weight: 600;
        color: $color-white;
        border-bottom: 1px solid $color-gray-light;
        transition: color 0.3s ease;
	}

    &:hover,
    &.active {
        &::after {
            transform: scaleX(1);
        }

        a {
            color: $color-black;
        }
    }
}

@media (min-width: $bp-nav) {
    .menu-toggle {
        display: none;
    }

    .site-header,
    .site-header.show {
        justify-content: space-between;
        padding-bottom: 0;

        .logo-container {
            margin-bottom: 0.5em;
        }

        .logo {
            width: 11.5em;
        }

        .site-nav {
            position: relative;
            top: 0;
            right: 0;
            width: calc(100% - 200px);
            height: auto;
            transform: translateX(0);
            background-color: transparent;
        }

        .menu {
            padding: 0;
            flex-flow: row nowrap;
            justify-content: flex-end;
        }

        .menu-item {
            margin-bottom: 0;
            margin-left: 3em;
            opacity: 1;
            transform: translateX(0);

            a {
                font-size: 1em;
                font-weight: 400;
                border-bottom: 3px solid transparent;
                transition: border 0.2s linear;
            }

            &:hover,
            &.current-menu-item {
                a {
                    color: $color-white;
                    border-color: $color-green;
                }
            }
        }
    }


}
