// sass-lint:disable force-pseudo-nesting

$scale: 0.8;
$counter-scale: 1 / $scale;

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: $header-height;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 2;
    background-color: $color-blue;
    color: $color-white;


    // &.scrolled {
    //     box-shadow: 0 1px 7px 0 rgba(170, 170, 170, 0.25);
    // }
    //
    // .container-site {
    //     @extend %flex-parent-row;
    //     align-items: center;
    //     height: 100%;
    // }
    //
    // .freeze & {
    //     background-color: rgba($color-white, 0.985);
    // }
}

.logo {
    @extend %fs-24;
    @extend %font-heading;
}

.skip-link {
  @extend %visually-hidden;
}

.menu-toggle {
    position: absolute;
    top: 50%;
    right: 1em;
    padding: 0.5em 1em;
    border: 1px solid $color-black;
    line-height: 1;
    color: $color-white;
    font-size: 1em;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    outline: -webkit-focus-ring-color 0; //sass-lint:disable-line no-vendor-prefixes
    transform: translateY(-50%);
    transition: color 0.3s ease-out, border 0.3s ease-out;

	&.toggled {
		color: $color-black;
		border-color: $color-gray;
	}
}


.site-nav {
	position: absolute;
    top: $header-height;
    right: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    background-color: rgba($color-white, 0.985);
    transform: translateX(100%);
    transform-origin: right center;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform, 0.3s ease-out;

	&.show {
		opacity: 1;
		visibility: visible;
        transform: translateX(0);
	}
}

.menu {
	display: flex;
    flex-flow: column nowrap;
	padding: 2em 1em 0.5em;
	text-align: center;
}

.menu-item {
    position: relative;
	margin-bottom: 1.5em;
	list-style: none;

    // &::after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     left: 0;
    //     bottom: -2px;
    //     width: 100%;
    //     height: 2px;
    //     background-color: $color-red;
    //     transform-origin: center bottom;
    //     transform: scaleX(0);
    //     transition: transform 0.3s ease-out;
    // }


	a {
		padding: 0.5em 0.25em;
        color: $color-black;
        border-bottom: 2px solid transparent;
        transition: color 0.3s ease;
	}

    &:hover,
    &.active {
        &::after {
            transform: scaleX(1);
        }

        a {
            color: $color-black;
        }
    }
}

@media (min-width: $bp-nav) {
    .menu-toggle {
        display: none;
    }
}


// @media (min-width: $bp-nav) {
// 	.site-header {
//         height: $header-height-2;
//         transform: scaleY(1);
//         transform-origin: left top;
//         transition: transform 0.3s ease-out;
//
//         .container-site {
//     		flex-flow: row nowrap;
//     		justify-content: space-between;
//             align-items: flex-end;
//         }
//
//         &.scrolled {
//             transform: scaleY($scale);
//
//             .site-nav {
//                 transform: scaleY($counter-scale) translateY(-8px);
//             }
//
//             .logo {
//                 transform: scaleX($scale);
//             }
//         }
// 	}
//
//     .logo {
//         width: 14em;
//         font-size: 100%;
//     }
//
// 	.menu-toggle {
// 		display: none;
// 	}
//
// 	.site-nav,
// 	.site-nav.show {
//         align-self: flex-end;
//         position: relative;
//         top: 0;
//     	width: calc(100% - ((178 / 16) * 1em) - 3em);
//         max-width: (800 / 16) * 1em;
//     	height: auto;
//     	opacity: 1;
//     	margin: 0;
//     	visibility: visible;
//     	border-radius: 50px;
//         background-color: transparent;
//         border-bottom-width: 0;
// 	}
//
// 	.menu {
// 		flex-flow: row nowrap;
// 		justify-content: space-between;
// 		align-items: center;
// 		height: 100%;
// 		padding: 0 0 0 3.75em;
// 	}
//
// 	.menu-item {
// 		margin: 0;
// 		padding: (11.5 / 16) * 1em 0 (8 / 16) * 1em;
//
// 		a {
// 			display: block;
// 			padding: 0.75em 0;
// 		}
// 	}
// }
