// text block
.text-block {
    display: flex;
    position: relative;
    padding: 1em;
    z-index: 2;
    background-color: $color-gray-light;
    background: linear-gradient(to bottom left, $color-gray-med, $color-white);

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .text-block-header {
        @media (min-width: $bp-small) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            figure {
                width: 40%;
                margin: 0;
                padding: 0;
            }

            .copy-2 {
                margin: 1em 0 0;
            }

            .header-content {
                width: 60%;
                padding: 0 2em 0 0;
            }
        }

        @media (min-width: $bp-big) {
            .header-content {
                padding-right: 5em;
            }
        }

        &.no-img {
            p {
                margin: 0 0 1em;
            }

            @media (min-width: $bp-small) {
                justify-content: center;
                text-align: center;
            }

            .header-content {
                @media (min-width: $bp-small) {
                    width: 100%;
                    max-width: 50em;
                    padding: 0 2em;
                }
            }
        }
    }


    .text-block-content {
        width: 100%;
        max-width: (880 / 16) * 1em;
        margin: auto;
        padding: 4em 0;
        z-index: 1;
    }

    &.wide {
        .text-block-content {
            max-width: 64em;
        }

        .text-block-body {
            width: 100%;
            max-width: 60em;
            margin: 0 auto;
        }
    }


    li {
        @extend %copy-1;
        margin-bottom: 0.5em;
    }

    &.plain {
        background: linear-gradient(to top, $color-white, $color-gray-light);

        &::before,
        &::after {
            display: none;
        }
    }

    &.closing {
        min-height: 70vh;
        background-color: $color-gray-light;
        background: linear-gradient(to bottom left, $color-gray-med, $color-white);

        .text-block-content {
            max-width: (680 / 16) * 1em;
        }

        &::before {
            height: calc(100% + 5em);
        }

        &::after {
            height: calc(100% + 10em);
        }

        @media (min-width: $bp-nav) {
            &::before,
            &::after {
                height: calc(100% + 5em);
            }
        }
    }

    &.gray-cone {
        &::before {
            background: transparent url(../img/bg-drawing-cone-b-small.jpg) no-repeat left bottom / cover;
            filter: grayscale(1);
            opacity: 0.25;

            @media (min-width: $bp-med) {
                background: transparent url(../img/bg-drawing-cone.jpg) no-repeat center bottom / cover;
            }
        }
    }

    &.gray-cone-b {
        background: radial-gradient($color-white, $color-gray-med);

        &::before {
            background: transparent url(../img/bg-drawing-cone.jpg) no-repeat center / cover;
            filter: grayscale(1);
            opacity: 0.125;
        }
    }

    // &.green-cone {
    //     &::before {
    //         background: transparent url(../img/bg-drawing-cone-b.jpg) no-repeat center / cover;
    //         filter: grayscale(1);
    //         opacity: 0.12;
    //     }
    //
    //     &::after {
    //         background-color: rgba($color-green, 0.1);
    //     }
    // }

    &.small-cone {
        &::before {
            width: 25%;
            background: transparent url(../img/bg-drawing-c.jpg) no-repeat left bottom / contain;
            filter: grayscale(1);
            opacity: 0.12;
        }
    }

    &.sub-page {
        padding-bottom: 2em;

        .heading-1 {
            margin: 1em 0 0.35em;
        }

        .text-block-content {
            @media (min-width: $bp-med) {
                padding-top: 6em;
            }
        }

        .button {
            margin: 2em 0 0;
            box-shadow: none;
        }
    }




    .sub-section {
        padding: 2.5em 0 1em;

        .heading-3 {
            border-bottom: 1px solid $color-gray-med;
        }

        ul {
            padding: 0.5em 0.5em 0;
        }

        &:not(.contact-info) {
            li {
                position: relative;
                padding-left: 1em;

                &::before {
                    content: '\2022';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    font-size: 120%;
                    transform: translateY( calc(-50% - 2px) );
                    color: $color-gray;
                }
            }
        }

        &.contact-info {
            margin-bottom: 1em;

            a {
                color: $color-black;

                &:hover {
                    color: $color-blue-alt;
                }
            }
        }


        @media (min-width: $bp-small) {
            ul {
                display: flex;
                flex-flow: row wrap;
            }

            li {
                width: 50%;
            }

            &.contact-info {
                ul {
                    justify-content: space-between;
                }

                li {
                    width: auto;
                }
            }
        }


        @media (min-width: $bp-big) {
            padding-top: 5em;

            &.contact-info {
                margin-bottom: 2.5em;
            }
        }
    }


    // contact page
    .page-contact-us & {
        // .text-block-header {
        //     p {
        //         margin: 0 0 1em;
        //     }
        //
        //     @media (min-width: $bp-small) {
        //         justify-content: center;
        //         text-align: center;
        //     }
        //
        //     .header-content {
        //         @media (min-width: $bp-small) {
        //             width: 100%;
        //             max-width: 50em;
        //             padding: 0 2em;
        //         }
        //     }
        // }

        .gform_wrapper {
            @media (min-width: $bp-small) {
                padding: 0 0.5em;
            }
        }

        .gform_footer {
            .button {
                margin-top: 0;
            }
        }
    }
}
