// text block
.text-block {
    display: flex;
    position: relative;
    padding: 1em;
    z-index: 2;
    background-color: $color-gray-light;
    background: linear-gradient(to bottom left, $color-gray-med, $color-white);

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }


    .text-block-content {
        width: 100%;
        max-width: (880 / 16) * 1em;
        margin: auto;
        padding: 4em 0;
        z-index: 1;

        .wide & {
            max-width: 62em;
        }
    }


    li {
        @extend %copy-1;
        margin-bottom: 0.5em;
    }

    &.plain {
        background: linear-gradient(to top, $color-white, $color-gray-light);

        &::before,
        &::after {
            display: none;
        }
    }

    &.closing {
        min-height: 70vh;
        background-color: $color-gray-light;
        background: linear-gradient(to bottom left, $color-gray-med, $color-white);

        .text-block-content {
            max-width: (680 / 16) * 1em;
        }

        &::before {
            height: calc(100% + 5em);
        }

        &::after {
            height: calc(100% + 10em);
        }

        @media (min-width: $bp-nav) {
            &::before,
            &::after {
                height: calc(100% + 5em);
            }
        }
    }

    &.gray-cone {
        &::before {
            background: transparent url(../img/bg-drawing-cone-b-small.jpg) no-repeat left bottom / cover;
            filter: grayscale(1);
            opacity: 0.25;

            @media (min-width: $bp-med) {
                background: transparent url(../img/bg-drawing-cone-b.jpg) no-repeat center bottom / cover;
            }
        }
    }

    &.gray-cone-b {
        background: radial-gradient($color-white, $color-gray-med);

        &::before {
            background: transparent url(../img/bg-drawing-cone.jpg) no-repeat center / cover;
            filter: grayscale(1);
            opacity: 0.125;
        }
    }

    &.green-cone {
        &::before {
            background: transparent url(../img/bg-drawing-cone-b.jpg) no-repeat center / cover;
            filter: grayscale(1);
            opacity: 0.12;
        }

        &::after {
            background-color: rgba($color-green, 0.1);
        }
    }

    &.sub-page {
        padding-bottom: 2em;

        .heading-1 {
            margin: 1em 0 0.35em;
        }

        .text-block-content {
            @media (min-width: $bp-med) {
                padding-top: 6em;
            }
        }

        .button {
            margin: 2em 0 0;
            box-shadow: none;
        }
    }




    .sub-section {
        padding: 2.5em 0 1em;

        @media (min-width: $bp-nav) {
            ul {
                display: flex;
                flex-flow: row wrap;
            }

            li {
                width: 50%;
            }
        }
    }
}
