/* ***********************************
 *
 *    Reset based on https://github.com/ireade/css/blob/master/base.scss
 *
 * *********************************** */
/* Reset margin, padding, border
 * *********************************** */
/* line 10, ../sass/base/_reset.scss */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 37, ../sass/base/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 44, ../sass/base/_reset.scss */
html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: visible;
}

/* line 52, ../sass/base/_reset.scss */
body {
  font-size: 16px;
  line-height: 1.4;
}

/* line 58, ../sass/base/_reset.scss */
a,
a:visited {
  color: inherit;
}

/* Layout
 * *********************************** */
/* line 66, ../sass/base/_reset.scss */
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

/* line 76, ../sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 80, ../sass/base/_reset.scss */
*:before,
*:after {
  box-sizing: inherit;
}

/* Elements
 * *********************************** */
/* line 88, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 93, ../sass/base/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 98, ../sass/base/_reset.scss */
img,
video {
  max-width: 100%;
}

/* line 103, ../sass/base/_reset.scss */
img {
  border-style: none;
}

/* line 107, ../sass/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 112, ../sass/base/_reset.scss */
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

/* Attributes & states
 * *********************************** */
/* line 123, ../sass/base/_reset.scss */
[hidden] {
  display: none !important;
}

/* line 127, ../sass/base/_reset.scss */
[disabled] {
  cursor: not-allowed;
}

/* line 131, ../sass/base/_reset.scss */
:focus:not(:focus-visible) {
  outline: none;
}

/* line 1, ../sass/base/_utils.scss */
.logo-container span, .skip-link, .menu-toggle span {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* line 36, ../sass/base/_utils.scss */
.site-content {
  padding-top: 4em;
}

/* line 48, ../sass/base/_utils.scss */
.site-content .gform_fields {
  display: flex;
  flex-direction: row;
}

/* line 61, ../sass/base/_utils.scss */
.fluid-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  overflow: hidden;
}
/* line 70, ../sass/base/_utils.scss */
.fluid-wrapper iframe,
.fluid-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 82, ../sass/base/_utils.scss */
#__bs_notify__ {
  padding: .25em !important;
  font-size: .75em !important;
  opacity: .25;
}

/* line 1, ../sass/base/_typography.scss */
body, .heading-hero, input,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

/* line 6, ../sass/base/_typography.scss */
.heading-1, .heading-2, .heading-4 {
  font-family: 'Roboto Condensed', sans-serif;
}

/* line 4, ../sass/base/_mixins.scss */
.heading-hero {
  font-size: 3.1em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-hero {
    font-size: calc(3.1em + 3.15 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-hero {
    font-size: 6.25em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-2, .heading-hero-small {
  font-size: 3em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-2, .heading-hero-small {
    font-size: calc(3em + 1.5 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-2, .heading-hero-small {
    font-size: 4.5em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-1 {
  font-size: 2.25em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-1 {
    font-size: calc(2.25em + 1.375 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-1 {
    font-size: 3.625em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-3 {
  font-size: 1.125em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-3 {
    font-size: calc(1.125em + 0.375 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-3 {
    font-size: 1.5em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.heading-4,
.copy-2 {
  font-size: 1.125em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-4,
  .copy-2 {
    font-size: calc(1.125em + 0.375 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .heading-4,
  .copy-2 {
    font-size: 1.5em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.text-block li, .site-content .gform_confirmation_message,
.copy-1, .text-link {
  font-size: 1em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .text-block li, .site-content .gform_confirmation_message,
  .copy-1, .text-link {
    font-size: calc(1em + 0.375 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .text-block li, .site-content .gform_confirmation_message,
  .copy-1, .text-link {
    font-size: 1.375em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
.button,
button:not(.no-button-style) {
  font-size: 1em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  .button,
  button:not(.no-button-style) {
    font-size: calc(1em + 0.25 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  .button,
  button:not(.no-button-style) {
    font-size: 1.25em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
input,
textarea {
  font-size: 0.875em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  input,
  textarea {
    font-size: calc(0.875em + 0.125 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  input,
  textarea {
    font-size: 1em;
  }
}

/* line 4, ../sass/base/_mixins.scss */
figcaption, .site-footer p,
.site-footer li {
  font-size: 0.75em;
}
@media screen and (min-width: 20em) {
  /* line 4, ../sass/base/_mixins.scss */
  figcaption, .site-footer p,
  .site-footer li {
    font-size: calc(0.75em + 0.125 * (100vw - 20em) / 60);
  }
}
@media screen and (min-width: 80em) {
  /* line 4, ../sass/base/_mixins.scss */
  figcaption, .site-footer p,
  .site-footer li {
    font-size: 0.875em;
  }
}

/* line 78, ../sass/base/_typography.scss */
body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #040910;
}

/* line 88, ../sass/base/_typography.scss */
a {
  color: #1def14;
  text-decoration: none;
  transition: color 0.2s ease-out;
}
/* line 93, ../sass/base/_typography.scss */
a:hover, a:visited, a:active, a:focus {
  outline: 0;
}
/* line 100, ../sass/base/_typography.scss */
a:hover {
  color: #040910;
}

/* line 105, ../sass/base/_typography.scss */
.heading-1 {
  margin-bottom: 0.55em;
  letter-spacing: -0.015em;
  font-weight: 700;
  line-height: 1;
  color: #040910;
}

/* line 115, ../sass/base/_typography.scss */
.heading-2 {
  margin-bottom: 0.5em;
  letter-spacing: -0.0416666667em;
  line-height: 1;
}

/* line 123, ../sass/base/_typography.scss */
.heading-3 {
  margin-bottom: 0.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #707070;
}

/* line 132, ../sass/base/_typography.scss */
.heading-4 {
  font-weight: 300;
}

/* line 138, ../sass/base/_typography.scss */
.heading-hero-small {
  color: #f7f7f7;
  font-weight: 700;
  line-height: 1;
}

/* line 147, ../sass/base/_typography.scss */
.text-block li, .site-content .gform_confirmation_message,
.copy-1 {
  margin-bottom: 1em;
  line-height: 1.5;
}

/* line 154, ../sass/base/_typography.scss */
.copy-2 {
  margin-bottom: 1em;
  line-height: 1.35;
}

/* line 161, ../sass/base/_typography.scss */
figcaption {
  padding: 0 0.125em;
  color: #707070;
}

/* line 6, ../sass/_global.scss */
[class*='container-'] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 12, ../sass/_global.scss */
.container-site {
  max-width: 87.5em;
}

/* line 16, ../sass/_global.scss */
.container-med {
  max-width: 62.5em;
}

/* line 20, ../sass/_global.scss */
.container-small {
  max-width: 45em;
}

/* line 25, ../sass/_global.scss */
.site-content {
  min-height: 100%;
  margin-bottom: -10em;
}
/* line 29, ../sass/_global.scss */
.site-content::after {
  content: '';
  display: block;
  height: 10em;
}
@media (min-width: 57em) {
  /* line 25, ../sass/_global.scss */
  .site-content {
    margin-bottom: -6em;
  }
  /* line 38, ../sass/_global.scss */
  .site-content::after {
    height: 6em;
  }
}

/* line 44, ../sass/_global.scss */
.site-footer {
  height: 10em;
}
@media (min-width: 57em) {
  /* line 44, ../sass/_global.scss */
  .site-footer {
    height: 6em;
  }
}

/* line 52, ../sass/_global.scss */
.intro {
  padding: 4em 1em;
}
@media (min-width: 40em) {
  /* line 52, ../sass/_global.scss */
  .intro {
    padding: 8em 1em 6em;
  }
}

/* line 62, ../sass/_global.scss */
.cta-block {
  position: relative;
  display: flex;
  width: 100%;
  height: 8em;
  padding: 1em;
  background-color: transparent;
  transform: translateY(-4em);
  z-index: 1;
}
/* line 72, ../sass/_global.scss */
.cta-block .button {
  display: block;
  margin: auto;
}

/* line 102, ../sass/_global.scss */
img {
  max-width: 100%;
  height: auto;
  border-width: 0;
  border-color: transparent;
}
/* line 108, ../sass/_global.scss */
img.alignleft {
  float: left;
  margin: 0.5em 2em 2em 0;
}
/* line 113, ../sass/_global.scss */
img.alignright {
  float: right;
  margin: 0.5em 0 2em 2em;
}
@media (min-width: 40em) {
  /* line 113, ../sass/_global.scss */
  img.alignright {
    width: 40%;
  }
}
/* line 122, ../sass/_global.scss */
img.aligncenter {
  float: none;
  margin: 2em auto;
}

/* line 129, ../sass/_global.scss */
.text-link {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  color: #040910;
  letter-spacing: 0.2222222222em;
  z-index: 1;
}
/* line 138, ../sass/_global.scss */
.text-link::after {
  content: '';
  display: block;
  width: calc(100% + 2px);
  height: 0.25em;
  position: absolute;
  bottom: 2px;
  left: -1px;
  z-index: -1;
  background-color: #1def14;
  transform: scaleX(1);
  transform-origin: center bottom;
  transition: transform 0.25s linear;
}
/* line 154, ../sass/_global.scss */
.text-link:hover::after {
  transform: scaleY(4);
}
/* line 160, ../sass/_global.scss */
.text-link.inherit {
  margin-left: 0.25em;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  letter-spacing: inherit;
}

/* line 6, ../sass/components/_header.scss */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4em;
  padding: 0 1em 0.5em;
  z-index: 3;
  background-color: #12223F;
  box-shadow: 0 1px 8px 2px rgba(4, 9, 16, 0.25);
}
/* line 18, ../sass/components/_header.scss */
.site-header .container-site {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  height: 100%;
}

/* line 26, ../sass/components/_header.scss */
.logo {
  display: block;
  width: 10em;
}
/* line 30, ../sass/components/_header.scss */
.logo svg {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 35, ../sass/components/_header.scss */
.logo svg g {
  fill: #f7f7f7;
}

/* line 52, ../sass/components/_header.scss */
.menu-toggle {
  position: absolute;
  top: 50%;
  right: 1em;
  padding: 0;
  border: 0;
  font-size: 1em;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  outline: -webkit-focus-ring-color 0;
  transform: translateY(-50%);
  transition: color 0.3s ease-out, border 0.3s ease-out;
}
/* line 66, ../sass/components/_header.scss */
.menu-toggle svg {
  display: block;
  width: 2em;
  height: 2em;
  fill: #f7f7f7;
}
/* line 73, ../sass/components/_header.scss */
.menu-toggle.toggled {
  color: #040910;
  border-color: #707070;
}

/* line 84, ../sass/components/_header.scss */
.site-nav {
  position: absolute;
  top: 4em;
  right: 0;
  width: 100%;
  height: calc(100vh - 4em);
  z-index: 1;
  background-color: #12223F;
  transform: translateX(100%);
  transform-origin: right center;
  transition: transform, 0.3s linear;
}
/* line 96, ../sass/components/_header.scss */
.site-nav.show {
  transform: translateX(0);
}

/* line 101, ../sass/components/_header.scss */
.menu {
  display: flex;
  flex-flow: column nowrap;
  padding: 2em 1em 0.5em;
  text-align: center;
}

/* line 108, ../sass/components/_header.scss */
.menu-item {
  position: relative;
  margin-bottom: 1.5em;
  opacity: 0;
  list-style: none;
  text-align: right;
  transform: translateX(100%);
  transition: transform 0.25s linear, opacity 0.15s ease-out;
}
/* line 117, ../sass/components/_header.scss */
.menu-item:first-of-type {
  transition-delay: 0.2s;
}
/* line 121, ../sass/components/_header.scss */
.menu-item:nth-of-type(2) {
  transition-delay: 0.3s;
}
/* line 125, ../sass/components/_header.scss */
.menu-item:nth-of-type(3) {
  transition-delay: 0.4s;
}
/* line 129, ../sass/components/_header.scss */
.menu-item:nth-of-type(4) {
  transition-delay: 0.5s;
}
/* line 133, ../sass/components/_header.scss */
.menu-item:nth-of-type(5) {
  transition-delay: 0.6s;
}
/* line 137, ../sass/components/_header.scss */
.show .menu-item {
  opacity: 1;
  transform: translateX(0);
}
/* line 142, ../sass/components/_header.scss */
.menu-item a {
  display: block;
  padding: 0.5em 0.25em;
  font-size: 1.875em;
  font-weight: 600;
  color: #f7f7f7;
  border-bottom: 1px solid #eee;
  transition: color 0.3s ease;
}
/* line 154, ../sass/components/_header.scss */
.menu-item:hover::after, .menu-item.active::after {
  transform: scaleX(1);
}
/* line 158, ../sass/components/_header.scss */
.menu-item:hover a, .menu-item.active a {
  color: #040910;
}

@media (min-width: 57em) {
  /* line 165, ../sass/components/_header.scss */
  .menu-toggle {
    display: none;
  }

  /* line 169, ../sass/components/_header.scss */
  .site-header,
  .site-header.show {
    justify-content: space-between;
    padding-bottom: 0;
  }
  /* line 174, ../sass/components/_header.scss */
  .site-header .logo-container,
  .site-header.show .logo-container {
    margin-bottom: 0.5em;
  }
  /* line 178, ../sass/components/_header.scss */
  .site-header .logo,
  .site-header.show .logo {
    width: 11.5em;
  }
  /* line 182, ../sass/components/_header.scss */
  .site-header .site-nav,
  .site-header.show .site-nav {
    position: relative;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: auto;
    transform: translateX(0);
    background-color: transparent;
  }
  /* line 192, ../sass/components/_header.scss */
  .site-header .menu,
  .site-header.show .menu {
    padding: 0;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  /* line 198, ../sass/components/_header.scss */
  .site-header .menu-item,
  .site-header.show .menu-item {
    margin-bottom: 0;
    margin-left: 3em;
    opacity: 1;
    transform: translateX(0);
  }
  /* line 204, ../sass/components/_header.scss */
  .site-header .menu-item a,
  .site-header.show .menu-item a {
    font-size: 1em;
    font-weight: 400;
    border-bottom: 3px solid transparent;
    transition: border 0.2s linear;
  }
  /* line 213, ../sass/components/_header.scss */
  .site-header .menu-item:hover a, .site-header .menu-item.current-menu-item a,
  .site-header.show .menu-item:hover a,
  .site-header.show .menu-item.current-menu-item a {
    color: #f7f7f7;
    border-color: #1def14;
  }
}
/* line 2, ../sass/components/_hero.scss */
.hero {
  display: flex;
  position: relative;
  height: 33vw;
  max-height: 31.25em;
  min-height: 17.5em;
  overflow: hidden;
  background-color: white;
}
/* line 11, ../sass/components/_hero.scss */
.hero::before, .hero::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 22, ../sass/components/_hero.scss */
.hero::before {
  background: transparent url(../img/wj-molding-machines.jpg) no-repeat right top/cover;
  filter: grayscale(90%) blur(2px);
  opacity: 0.65;
}
/* line 29, ../sass/components/_hero.scss */
.hero::after {
  background-color: rgba(18, 34, 63, 0.75);
  background: radial-gradient(rgba(18, 34, 63, 0.6), rgba(18, 34, 63, 0.9));
}
/* line 37, ../sass/components/_hero.scss */
.hero.hero-small {
  height: auto;
  min-height: 0;
  padding: 4em 0;
}
/* line 42, ../sass/components/_hero.scss */
.hero.hero-small .heading-2 {
  margin-bottom: 0;
  color: #f7f7f7;
}
/* line 47, ../sass/components/_hero.scss */
.hero.hero-small::before {
  background: transparent url(../img/bg-drawing-hero-short.jpg) no-repeat center/cover;
  filter: grayscale(90%) blur(1px);
  opacity: 0.5;
}
/* line 53, ../sass/components/_hero.scss */
.hero.hero-small::after {
  background: rgba(18, 34, 63, 0.875);
}

/* line 59, ../sass/components/_hero.scss */
.hero-content {
  position: relative;
  margin: auto;
  padding: 0.5em;
  z-index: 1;
}

/* line 76, ../sass/components/_hero.scss */
.heading-hero {
  position: relative;
  font-weight: 900;
  line-height: 1;
  color: #f7f7f7;
  text-transform: uppercase;
  overflow: hidden;
}
/* line 86, ../sass/components/_hero.scss */
.heading-hero::after {
  content: '';
  display: block;
  position: absolute;
  top: 0.14em;
  left: 0;
  width: 3.75em;
  height: 0.84em;
  z-index: -1;
  opacity: 1;
  background-color: rgba(29, 239, 20, 0.9);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.55s linear 0.3s;
}
/* line 102, ../sass/components/_hero.scss */
.heading-hero span {
  display: block;
  padding: 0 0.125em;
}
/* line 106, ../sass/components/_hero.scss */
.heading-hero span.hero-a {
  display: inline-block;
  position: relative;
  color: rgba(18, 34, 63, 0.88);
  letter-spacing: -0.06em;
  font-size: 90%;
  opacity: 0;
  transform: translateX(-2.5em);
  transition: opacity 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.35s, cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.6s linear 0.35s;
}
/* line 119, ../sass/components/_hero.scss */
.heading-hero span.hero-b {
  padding-left: 2px;
  letter-spacing: 0.06em;
  opacity: 0;
  transform: translateY(0.125em) scale(0.975);
  transform-origin: center;
  transition: opacity 0.65s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s, transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s;
}
/* line 130, ../sass/components/_hero.scss */
.heading-hero.move::after {
  transform: scaleX(1);
}
/* line 134, ../sass/components/_hero.scss */
.heading-hero.move .hero-a {
  opacity: 1;
  transform: translateX(0);
}
/* line 139, ../sass/components/_hero.scss */
.heading-hero.move .hero-b {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* line 2, ../sass/components/_text-block.scss */
.text-block {
  display: flex;
  position: relative;
  padding: 1em;
  z-index: 2;
  background-color: #eee;
  background: linear-gradient(to bottom left, #cbcbcb, #f7f7f7);
}
/* line 10, ../sass/components/_text-block.scss */
.text-block::before, .text-block::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 40em) {
  /* line 21, ../sass/components/_text-block.scss */
  .text-block .text-block-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  /* line 27, ../sass/components/_text-block.scss */
  .text-block .text-block-header figure {
    width: 40%;
    margin: 0;
    padding: 0;
  }
  /* line 33, ../sass/components/_text-block.scss */
  .text-block .text-block-header .copy-2 {
    margin: 1em 0 0;
  }
  /* line 37, ../sass/components/_text-block.scss */
  .text-block .text-block-header .header-content {
    width: 60%;
    padding: 0 2em 0 0;
  }
}
@media (min-width: 72em) {
  /* line 44, ../sass/components/_text-block.scss */
  .text-block .text-block-header .header-content {
    padding-right: 5em;
  }
}
/* line 50, ../sass/components/_text-block.scss */
.text-block .text-block-header.no-img p {
  margin: 0 0 1em;
}
@media (min-width: 40em) {
  /* line 49, ../sass/components/_text-block.scss */
  .text-block .text-block-header.no-img {
    justify-content: center;
    text-align: center;
  }
}
@media (min-width: 40em) {
  /* line 59, ../sass/components/_text-block.scss */
  .text-block .text-block-header.no-img .header-content {
    width: 100%;
    max-width: 50em;
    padding: 0 2em;
  }
}
/* line 70, ../sass/components/_text-block.scss */
.text-block .text-block-content {
  width: 100%;
  max-width: 55em;
  margin: auto;
  padding: 4em 0;
  z-index: 1;
}
/* line 79, ../sass/components/_text-block.scss */
.text-block.wide .text-block-content {
  max-width: 64em;
}
/* line 83, ../sass/components/_text-block.scss */
.text-block.wide .text-block-body {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
}
/* line 91, ../sass/components/_text-block.scss */
.text-block li {
  margin-bottom: 0.5em;
}
/* line 96, ../sass/components/_text-block.scss */
.text-block.plain {
  background: linear-gradient(to top, #f7f7f7, #eee);
}
/* line 99, ../sass/components/_text-block.scss */
.text-block.plain::before, .text-block.plain::after {
  display: none;
}
/* line 105, ../sass/components/_text-block.scss */
.text-block.closing {
  min-height: 70vh;
  background-color: #eee;
  background: linear-gradient(to bottom left, #cbcbcb, #f7f7f7);
}
/* line 110, ../sass/components/_text-block.scss */
.text-block.closing .text-block-content {
  max-width: 42.5em;
}
/* line 114, ../sass/components/_text-block.scss */
.text-block.closing::before {
  height: calc(100% + 5em);
}
/* line 118, ../sass/components/_text-block.scss */
.text-block.closing::after {
  height: calc(100% + 10em);
}
@media (min-width: 57em) {
  /* line 123, ../sass/components/_text-block.scss */
  .text-block.closing::before, .text-block.closing::after {
    height: calc(100% + 5em);
  }
}
/* line 131, ../sass/components/_text-block.scss */
.text-block.gray-cone::before {
  background: transparent url(../img/bg-drawing-cone-b-small.jpg) no-repeat left bottom/cover;
  filter: grayscale(1);
  opacity: 0.25;
}
@media (min-width: 50em) {
  /* line 131, ../sass/components/_text-block.scss */
  .text-block.gray-cone::before {
    background: transparent url(../img/bg-drawing-cone.jpg) no-repeat center bottom/cover;
  }
}
/* line 142, ../sass/components/_text-block.scss */
.text-block.gray-cone-b {
  background: radial-gradient(#f7f7f7, #cbcbcb);
}
/* line 145, ../sass/components/_text-block.scss */
.text-block.gray-cone-b::before {
  background: transparent url(../img/bg-drawing-cone.jpg) no-repeat center/cover;
  filter: grayscale(1);
  opacity: 0.125;
}
/* line 153, ../sass/components/_text-block.scss */
.text-block.small-cone::before {
  width: 25%;
  background: transparent url(../img/bg-drawing-c.jpg) no-repeat left bottom/contain;
  filter: grayscale(1);
  opacity: 0.12;
}
/* line 161, ../sass/components/_text-block.scss */
.text-block.sub-page {
  padding-bottom: 2em;
  background: white;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.15);
}
/* line 166, ../sass/components/_text-block.scss */
.text-block.sub-page .heading-1 {
  margin: 1em 0 0.35em;
}
@media (min-width: 50em) {
  /* line 170, ../sass/components/_text-block.scss */
  .text-block.sub-page .text-block-content {
    padding-top: 6em;
  }
}
/* line 176, ../sass/components/_text-block.scss */
.text-block.sub-page .button {
  margin: 2em 0 0;
  box-shadow: none;
}
/* line 185, ../sass/components/_text-block.scss */
.text-block .sub-section {
  padding: 2.5em 0 1em;
}
/* line 188, ../sass/components/_text-block.scss */
.text-block .sub-section .heading-3 {
  border-bottom: 1px solid #cbcbcb;
}
/* line 192, ../sass/components/_text-block.scss */
.text-block .sub-section ul {
  padding: 0.5em 0.5em 0;
}
/* line 197, ../sass/components/_text-block.scss */
.text-block .sub-section:not(.contact-info) li {
  position: relative;
  padding-left: 1em;
}
/* line 201, ../sass/components/_text-block.scss */
.text-block .sub-section:not(.contact-info) li::before {
  content: '\2022';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 120%;
  transform: translateY(calc(-50% - 2px));
  color: #707070;
}
/* line 214, ../sass/components/_text-block.scss */
.text-block .sub-section.contact-info {
  margin-bottom: 1em;
}
/* line 217, ../sass/components/_text-block.scss */
.text-block .sub-section.contact-info a {
  color: #040910;
}
/* line 220, ../sass/components/_text-block.scss */
.text-block .sub-section.contact-info a:hover {
  color: #23417a;
}
@media (min-width: 40em) {
  /* line 228, ../sass/components/_text-block.scss */
  .text-block .sub-section ul {
    display: flex;
    flex-flow: row wrap;
  }
  /* line 233, ../sass/components/_text-block.scss */
  .text-block .sub-section li {
    width: 50%;
  }
  /* line 238, ../sass/components/_text-block.scss */
  .text-block .sub-section.contact-info ul {
    justify-content: space-between;
  }
  /* line 242, ../sass/components/_text-block.scss */
  .text-block .sub-section.contact-info li {
    width: auto;
  }
}
@media (min-width: 72em) {
  /* line 185, ../sass/components/_text-block.scss */
  .text-block .sub-section {
    padding-top: 5em;
  }
  /* line 252, ../sass/components/_text-block.scss */
  .text-block .sub-section.contact-info {
    margin-bottom: 2.5em;
  }
}
@media (min-width: 40em) {
  /* line 280, ../sass/components/_text-block.scss */
  .page-contact-us .text-block .gform_wrapper {
    padding: 0 0.5em;
  }
}
/* line 287, ../sass/components/_text-block.scss */
.page-contact-us .text-block .gform_footer .button {
  margin-top: 0;
}

/* line 1, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block {
  display: flex;
  height: 6.25em;
  max-height: 30vw;
  overflow: hidden;
}
/* line 8, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block:not(.big)::before, .fixed-bg-block:not(.big)::after {
  content: '';
  display: block;
  position: fixed;
  top: 4em;
  left: 0;
  width: 100%;
  height: calc(100% - 4em);
  z-index: -1;
}
/* line 20, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block:not(.big)::before {
  background: transparent url(../img/wj-molding-250-ton-all-electric.jpg);
  background: transparent url(../img/wj-molding-machines.jpg);
  background-attachment: fixed;
  background-size: cover;
  filter: blur(0.5px);
}
/* line 28, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block:not(.big)::after {
  background-color: #f7f7f7;
  opacity: 0.15;
}
/* line 34, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block .button {
  margin: auto;
}
/* line 39, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block.big {
  height: 66.67vh;
  max-height: none;
}
/* line 43, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block.big .container {
  position: fixed;
  top: 4em;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4em);
  z-index: -1;
}
/* line 52, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block.big .container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  opacity: 0.15;
}
/* line 65, ../sass/components/_fixed-bg-block.scss */
.fixed-bg-block.big img,
.fixed-bg-block.big iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 72em) {
  /* line 1, ../sass/components/_fixed-bg-block.scss */
  .fixed-bg-block {
    height: 10em;
  }
}

/* line 3, ../sass/components/_forms.scss */
input,
textarea {
  width: 100%;
  padding: 0.5em 1em 0.5em 0.5em;
  border: 1px solid #cbcbcb;
  background-color: #f7f7f7;
  border-radius: 2px;
  line-height: 1.2;
  color: #040910;
  outline: none;
  -webkit-appearance: none;
  transition: border-color 0.2s ease-out;
}
/* line 17, ../sass/components/_forms.scss */
input:focus,
textarea:focus {
  border-color: #040910;
}

/* line 33, ../sass/base/_mixins.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #5e5e5e;
}
/* line 34, ../sass/base/_mixins.scss */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #5e5e5e;
}
/* line 35, ../sass/base/_mixins.scss */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #5e5e5e;
}
/* line 36, ../sass/base/_mixins.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #5e5e5e;
}

/* line 32, ../sass/components/_forms.scss */
.site-content .gform_fields {
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 38, ../sass/components/_forms.scss */
.site-content .gfield:not(.flex-field) {
  width: 100%;
}
/* line 42, ../sass/components/_forms.scss */
.site-content .flex-field {
  width: calc(50% - 0.25em);
}
@media (min-width: 40em) {
  /* line 42, ../sass/components/_forms.scss */
  .site-content .flex-field {
    width: calc(50% - 1em);
  }
}
/* line 50, ../sass/components/_forms.scss */
.site-content .gfield_description,
.site-content .validation_message {
  padding: 0.25em 0 0.75em;
  font-size: 70%;
  color: red;
  line-height: 1;
}
/* line 58, ../sass/components/_forms.scss */
.site-content .validation_error {
  padding: 0.75em 0;
  color: red;
}
/* line 63, ../sass/components/_forms.scss */
.site-content .gform_confirmation_message {
  color: red;
}
/* line 68, ../sass/components/_forms.scss */
.site-content .gform_confirmation_message {
  padding-top: 3em;
}
/* line 72, ../sass/components/_forms.scss */
.site-content .gfield {
  margin-bottom: 1.5em;
  font-size: 1em;
}
/* line 77, ../sass/components/_forms.scss */
.site-content .gfield_label {
  padding: 0 0 0.125em 0.6666666667em;
  font-size: 75%;
  color: #707070;
}

/* line 1, ../sass/components/_buttons.scss */
.button,
button:not(.no-button-style) {
  display: inline-block;
  width: auto;
  padding: 1em 2.5em;
  border: 1px solid #23417a;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: #1def14;
  background-color: #1d3666;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1666666667em;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;
}
/* line 21, ../sass/components/_buttons.scss */
.button:hover,
button:hover:not(.no-button-style) {
  color: #f7f7f7;
  border-color: #23417a;
  background-color: #23417a;
}
/* line 27, ../sass/components/_buttons.scss */
.button:focus,
button:focus:not(.no-button-style) {
  outline: 0;
}
/* line 31, ../sass/components/_buttons.scss */
.button-alt.button,
button.button-alt:not(.no-button-style) {
  color: #f7f7f7;
  border-color: #23417a;
  background-color: #23417a;
}
/* line 36, ../sass/components/_buttons.scss */
.button-alt.button:hover,
button.button-alt:hover:not(.no-button-style) {
  color: #1def14;
  border-color: #1d3666;
  background-color: #1d3666;
}

/* line 56, ../sass/components/_buttons.scss */
.button.gform_button,
button:not(.no-button-style).gform_button {
  padding: 0.75em 2.5em;
}

/* line 62, ../sass/components/_buttons.scss */
.no-button-style {
  border-width: 0;
  padding: 0;
  background-color: transparent;
}
/* line 67, ../sass/components/_buttons.scss */
.no-button-style:focus {
  outline: 0;
}

/* line 1, ../sass/components/_footer.scss */
.site-footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  border-top: 1px solid #eee;
  background-color: white;
  text-align: center;
}
/* line 9, ../sass/components/_footer.scss */
.site-footer .footer-content {
  position: relative;
  margin: auto;
  z-index: 2;
}
/* line 15, ../sass/components/_footer.scss */
.site-footer p,
.site-footer li {
  margin-bottom: 0;
  line-height: 1.75;
}
/* line 22, ../sass/components/_footer.scss */
.site-footer p {
  margin-bottom: 0.25em;
}
/* line 26, ../sass/components/_footer.scss */
.site-footer a {
  color: #040910;
}
/* line 29, ../sass/components/_footer.scss */
.site-footer a:hover {
  color: #23417a;
}
@media (min-width: 57em) {
  /* line 1, ../sass/components/_footer.scss */
  .site-footer {
    text-align: right;
  }
  /* line 39, ../sass/components/_footer.scss */
  .site-footer .footer-content {
    margin: auto 0;
  }
  /* line 43, ../sass/components/_footer.scss */
  .site-footer li {
    display: inline-block;
    vertical-align: middle;
  }
  /* line 48, ../sass/components/_footer.scss */
  .site-footer li:last-of-type::before {
    content: ' | ';
    display: inline-block;
    margin: 0 1em;
  }
}

/* line 2, ../sass/pages/_home.scss */
.intro {
  text-align: center;
  background-color: white;
}
/* line 8, ../sass/pages/_home.scss */
.intro p a {
  display: inline-block;
  margin-left: 0.25em;
}
/* line 12, ../sass/pages/_home.scss */
.intro p a::after {
  content: '\2192';
  display: inline-block;
  color: #1def14;
  vertical-align: middle;
  transform: translateX(0.1em);
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}
/* line 21, ../sass/pages/_home.scss */
.intro p a:hover {
  color: #444;
}
/* line 24, ../sass/pages/_home.scss */
.intro p a:hover::after {
  transform: translateX(0.35em);
}
@media (min-width: 72em) {
  /* line 7, ../sass/pages/_home.scss */
  .intro p {
    padding: 0 2em;
  }
}

/* line 37, ../sass/pages/_home.scss */
.industries {
  padding: 2em 0 0;
}
@media (min-width: 57em) {
  /* line 37, ../sass/pages/_home.scss */
  .industries {
    padding: 4em 0 0;
  }
}
/* line 44, ../sass/pages/_home.scss */
.industries .heading-3 {
  margin-bottom: 1em;
}
/* line 48, ../sass/pages/_home.scss */
.industries ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 40em) {
  /* line 48, ../sass/pages/_home.scss */
  .industries ul {
    justify-content: space-around;
  }
}
/* line 58, ../sass/pages/_home.scss */
.industries li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 50%;
  margin-bottom: 2em;
}
@media (min-width: 40em) {
  /* line 58, ../sass/pages/_home.scss */
  .industries li {
    width: auto;
  }
}
/* line 69, ../sass/pages/_home.scss */
.industries li span {
  line-height: 1;
}
/* line 74, ../sass/pages/_home.scss */
.industries svg {
  display: block;
  margin: 0 auto 0.5em;
  fill: #23417a;
  font-size: 70%;
}
@media (min-width: 40em) {
  /* line 74, ../sass/pages/_home.scss */
  .industries svg {
    margin: 0 0.5em 0.5em 0;
  }
}
/* line 85, ../sass/pages/_home.scss */
.industries .car,
.industries .medical,
.industries .silo {
  width: 2.5em;
  height: 2.5em;
}
/* line 92, ../sass/pages/_home.scss */
.industries .television {
  width: 2.6875em;
  height: 2.5em;
}
